.productos {
	position: relative;
}

.productos>a {
	position: absolute;
	top: -170px;
}

.productosTitle {
	margin-bottom: 40px;
}

.productosGrid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "uno" "dos";
}

.productosContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imageGrid,
.imageFinGrid {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.imageFinIndustrias {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
		url("img/img4MOB.jpg");
	width: 100%;
	height: 50vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

@media (min-width: 850px) {
	.productosContainer {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: 50%;
		margin: auto;
	}

	.imageFinGrid {
		object-fit: cover;
		width: 100%;
		height: 50vh;
		object-position: 50% 80%;
	}

	.imageFinIndustrias {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
			url("img/img4.jpeg");
		width: 100%;
		height: 110vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 35% 0%;
	}
}

@media (min-width: 1550px) {
	.producto {
		width: 80%;
	}

	.productos>a {
		position: absolute;
		top: -60%;
	}

}
